<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>TotalFishing</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/cropper.css" />
	<link rel="stylesheet" href="/css/colors.css" />

	<link rel="stylesheet" href="/css/bootstrap-extended.css" />
	<link rel="stylesheet" href="/css/component.css" />


</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand page-title" href="/">Total Fishing</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				{{#if user}}
					<li class="nav-item">
						<a class="nav-link" href="/">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/private">Private Catches</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="bestDay">Best Fishing Date</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="imageRec">Fish Recognition</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="catch">Post Catch</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-logout" href="/users/logout">Logout</a>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link" href="login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="register">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</nav>
	<main role="main">

		<div class="container">
			{{#if success_msg}}
				<div class="alert alert-success text-center">{{success_msg}}</div>
			{{/if}}

			{{#if error_msg}}
				<div class="alert alert-danger text-center">{{error_msg}}</div>
			{{/if}}

			{{#if error}}
				<div class="alert alert-danger text-center">{{error}}</div>
			{{/if}}

			{{{body}}}
		</div>
	</main>

	<footer class="footer text-center">
		<p>&copy; Total Fishing, Inc.</p>
	</footer>

	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGaUn6XOCc-TC7k5gk_R1RVCwUK7IPbIg&callback=initMap" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
	<script src="/jquery/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
	<script src="/js/cropper.js"></script>
	<script src="/js/weather.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
</body>

</html>
